.foot {
    position: fixed;
    width: 100%;
    height: 64px;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: red;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header {
    &:extend(.foot);
    top: 0;
    bottom: auto;
}
.headerhide {
    top: -70px;
}
.foothide {
    bottom: -70px;
}
.mask {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}
.brightness {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fontSize {
    margin: 16px 0;
}
.themeSelect {
    display: flex;
    justify-content: space-around;
    align-items: center;
    span {
        background: red;
        width: 30px;
        height: 30px;
        display: block;
        border-radius: 100px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    }
    .active {
        transform: scale(1.1);
        box-shadow: 0 0 5px red;
    }
}
.vip {
    font-size: 8px;
    color: red;
    border-radius: 5px;
    border: 1px red solid;
    float: right;
    padding: 0 5px;
}