.item {
  margin: 12px 12px;
  height: 104px;
  position: relative;
  padding-left: 90px;
  border-bottom: 1px rgba(0, 0, 0, 0.1) dashed;
  padding-bottom: 12px;
  color: #333;
  p{
    font-size: 12px;
    margin: 2px 0;
  }
  .author {
    font-weight: 500;
  }
  .meta {
  }
}
.cover {
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
