.list {
    padding: 8px;
}
.cover {
    width: 80px;
    height: 105px;
    position: absolute;
    left: 8px;
    top: 8px;
}
.foot {
    padding-left: 104px;
    color: #848484;
    font-size: 12px;
    margin: 0;
}