.books {
  display: flex;
  padding: 20px;
  padding-bottom: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  box-shadow:  0 -3px 5px rgba(0, 0, 0, 0.1) inset;
}
.book{
  height: 140px;
  width: 90px;
  display: block;
  display: flex;
  align-items: center;
  flex-direction: column;
  img{
    height: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  p {
    margin-top: 6px;
    font-weight: 100px;
    font-size: 12px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
  }
}
