html {
  background: #fff;
}
html, body, :global(#root) {
  height: 100%;
  padding: 0;
  margin: 0;
}

:global{
  .sweet-alert{
    border-radius: 0;
    h2 {
      font-size: 24px;
    }
    button {
      border-radius: 0;
    }
  }
}

